header , footer{
	padding: 5px;	
}


header{
	/**
		Update with media query, for responsive img when people do scroll
		and the img have diferent size when you are in mobile phone.	
	*/
	position:fixed;
	width:100%;
	-webkit-box-shadow: 0 2px 10px .5px #828282;
	box-shadow: 0 2px 10px .5px #828282;
}

li{
	display: inline-block;
	vertical-align: top;
	width:auto;
	margin:0 5px;
}

#logo{
	float:left;
}

#menu{
	float:right;
}

#content{
	height:760px;
}