/**
	Think in use this color:
	#00b9be;
*/
@media (max-width: 480px) {
	header{
		height:60px;
	}
	#logo{
		height: 40px;
	}
	#menu{
		float:left;
	}

	#portfolio{
		padding-top: 100px;
	}



	#socialities{
		display:none;
	}
}

@media (min-width:481px){
	header{
		height:100px;
	}
	#logo{
		height: 60px;
	}
	#menu{
		float: right;
	}
	#socialities{
		padding-right: 10px;
		display: block;
		background-color: white;
		max-height: 40px;
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}

	#portfolio{
		padding-top: 170px;
	}

}

@media (min-width: 768px){
	#socialities{
		padding-right: 5px;
		margin-right: 25px;
		display:inherit;
		background-color:transparent;

	}
}

@media(min-width: 992px){
	#portfolio{
		padding-left: 15%
	}

}

header , footer{
	padding: 5px;	
}

header{
	position:fixed;
	width:100%;
	-webkit-box-shadow: 0 2px 10px .5px #828282;
	box-shadow: 0 2px 10px .5px #828282;
	background-color: #FFF;
	z-index: 9;
}

li{
	display: inline-block;
	vertical-align: top;
	width:auto;
	margin:0 5px;
}

h3 a{
	color:white;
}
h3 a:hover{
	color:white;
	text-decoration: none;
}


#aboutMe{
	min-height: 0px;
	height: 360px;
}

#aboutMe h3{
	padding-left: 4%;
}

#aboutMe p{
	padding-left: 20px;
	text-align: center;
}

#aboutMe a{
	color:white;
	text-decoration: underline;
}
#aboutMe a:hover{
	color:black;
	text-decoration: underline;
}

.info{
	padding-left: 10px;
}

#infoUpdate p{
	clear: both;
	text-align: center;
}

#logo{
	margin:-5px;
	z-index: 10;
}

#menu a{
	color:#00b9be;
	-moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#menu a:hover{
	color:#09d6db;
}

#socialities{
	float: right;
}

.content{
	height: auto;
	min-height:620px;
	/*2b5464*/
	/*#00b9be*/
	background-color: #00b9be;
	padding:60px 10px;
	color:white;
}

.content:nth-child(2n+1){
	background-color: #00aff0;
}


.navbar-default{
	background-color:white;
}
.navbar-header{
	height:auto;
	padding-top: 0px;
	padding-left: 0px;
}

.project{
	border: 1px solid white;
	text-align: center;
	height: 320px;
	padding: 5px;
	padding-top:15px;
	margin:15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.project img{
	height: 100px;
	width: 100px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.project .selected{
	width: 120px;
	height: 120px;
	margin-top: -7px;
	margin-bottom: -13px;
}

.twitter{
	color:#55acee;
}
.twitter:hover{
	color:#3197e5;
}
.google{
	color:#d53e34;
}
.google:hover{
	color:#ec655a;
}
.github{
	color:#515151;
}
.linkedin{
	color:#1b86bd;
}
.linkedin:hover{
	color: #066ba0;
}





/*
Verificar si dejas la sombra superior en el footer o no

footer{
	-webkit-box-shadow: 0 -2px 10px .5px #828282;
	box-shadow: 0 -2px 10px .5px #828282;
}
*/


#buttonTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
}

#buttonTop a{
	color:#272727;
	-moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#buttonTop a:hover{
	color:#333333;
};