/**
	Think in use this color:
	#00b9be;
*/
@media (max-width: 480px) {
	header{
		height:60px;
	}
	#menu{
		float:left;
	}

	#socialities{
		display:none;
	}
}

@media (min-width:481px){
	header{
		height:100px;
	}
	#menu{
		float: right;
	}
	#socialities{
		margin-right: 10px;
	}
}

@media (min-width: 768px){
	#socialities{
		margin-right: 25px;
	}
}

header , footer{
	padding: 5px;	
}

header{
	/**
		Update with media query, for responsive img when people do scroll
		and the img have diferent size when you are in mobile phone.	
	*/
	position:fixed;
	width:100%;
	-webkit-box-shadow: 0 2px 10px .5px #828282;
	box-shadow: 0 2px 10px .5px #828282;
	background-color: #FFF;
	z-index: 99999;
}

li{
	display: inline-block;
	vertical-align: top;
	width:auto;
	margin:0 5px;
}


.content{
	height:640px;
	background-color: #00b9be;
}
/*El carrusel*/
/*
.content:first-child{
	padding-top: 100px;
}
*/
#menu a{
	color:#00b9be;
	-moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
}
#menu a:hover{
	color:#09d6db;
}

.navbar-default{
	background-color:white;
}
.navbar-header{
	height:auto;
	padding-top: 0px;
	padding-left: 0px;
}

#socialities{
	float:right;
}

.twitter{
	color:#55acee;
}
.twitter:hover{
	color:#3197e5;
}
.google{
	color:#d53e34;
}
.google:hover{
	color:#ec655a;
}
.github{
	color:#515151;
}
.linkedin{
	color:#1b86bd;
}
.linkedin:hover{
	color: #066ba0;
}


/*
Verificar si dejas la sombra superior en el footer o no

footer{
	-webkit-box-shadow: 0 -2px 10px .5px #828282;
	box-shadow: 0 -2px 10px .5px #828282;
}
*/